.git
.github
.gitignore

node_modules
coverage
.nyc_output

.env
.env.*
!example.env

logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

build
dist
.tmp
tmp

.DS_Store
Thumbs.db
.vscode
.idea